<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Cadastrar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<div class="wrapper row">
    <div class="header col-md-2 sidebar bg-light">
        <div class="nav h-100 flex-column">
            <div class="nav-item menu-btn mx-auto mt-auto">
                <a href="/cartorios/cadastrar">
                    <i class="material-icons menu-icon">add_circle</i>
                </a>
            </div>
            <div class="nav-item menu-btn mx-auto mb-auto">
                <a href="/cartorios/consultar">
                    <i class="material-icons menu-icon">find_in_page</i>
                </a>
            </div>
        </div>
    </div>
    <div class="conteudo flex-column col-10">
        <div class="row mt-5">

            <div class="col-6 offset-3">
                <table class="table table-dark">
                    <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cartorio : ${cartorios}">
                        <th th:text="${cartorio.id}"></th>
                        <td th:text="${cartorio.nome}"></td>
                        <td>
                            <form th:action="@{/cartorios/editar}" th:method="get">
                                <input type="hidden" th:value="${cartorio.id}" name="id">
                                <button type="submit" class="btn text-light material-icons">edit</button>
                            </form>
                        </td>
                        <td>
                            <form th:action="@{/cartorios/remover}" th:method="get">
                                <input type="hidden" th:value="${cartorio.id}" name="id">
                                <button class="btn text-light material-icons">delete</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
</body>
</html>